@import '_variables.scss';
/* ========================================================
BUTTON
======================================================== */

.btn {
  background-color: $pink;
  color: #fff;
  border-style: none;

  &:hover {
    background-color: $pink;
    color: #fff;
    opacity: 80%;
  }
}
