/* ========================================================
CARD IN THE HOME FEED
======================================================== */

.card-header {
  background-color: white;
}

.post-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top;
}
