@import "_variables.scss";

/* ========================================================
NAVIGATION
======================================================== */

header,
.dropdown-menu {
  background-color: $blue;
  & .navbar-brand,
  .navbar-brand:focus,
  a {
    color: #fff;
  }
  & :hover {
    color: $pink;
  }
}

.dropdown-item:hover {
  color: #fff;
  background-color: $pink;
}

/* ========================================================
FOOTER
======================================================== */

footer {
  margin-top: auto;
  background-color: $blue;
  color: #fff;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
