/* ========================================================
VARIABLES
======================================================== */

$color-background: #fff;
$color-nav-footer: #1e3163;
$color-button: #f037a5;
$color-other: #2d46b9;
